In [1]:
from spacy_utils import *

C:\pythonenvironments\DataAndAi\Lib\site-packages\spacy\util.py:910: UserWarning: [W095] Model 'en_core_web_sm' (3.7.1) was trained with spaCy v3.7.2 and may not be 100% compatible with the current version (3.8.2). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [2]:
# Create Spacy document
doc_ai_forecast1 = create_doc('../text_data/ai_forecast1.txt')

In [40]:
# Get tokenization, POS, and grammatical structure
print("Tokenization, POS, and Grammatical Structure for ai_forecast1.txt:")
tokenization_pos_df = get_tokenization_and_pos(doc_ai_forecast1)
tokenization_pos_df

Tokenization, POS, and Grammatical Structure for ai_forecast1.txt:

,Sentence,Token,POS,Dependency
0,"Pune, India, Sept. 13, 2022 (GLOBE NEWSWIRE) --",Pune,PROPN,ROOT
1,"Pune, India, Sept. 13, 2022 (GLOBE NEWSWIRE) --",",",PUNCT,punct
2,"Pune, India, Sept. 13, 2022 (GLOBE NEWSWIRE) --",India,PROPN,appos
3,"Pune, India, Sept. 13, 2022 (GLOBE NEWSWIRE) --",",",PUNCT,punct
4,"Pune, India, Sept. 13, 2022 (GLOBE NEWSWIRE) --",Sept.,PROPN,npadvmod
...,...,...,...,...
1552,Trademark reference: Nuance and the Nuance log...,countries,NOUN,conj
1553,Trademark reference: Nuance and the Nuance log...,.,PUNCT,punct
1554,All other trademarks,All,DET,det
1555,All other trademarks,other,ADJ,amod
1556,All other trademarks,trademarks,NOUN,ROOT

In [30]:
# Get named entities
print("\nNamed Entities for ai_forecast1.txt:")
named_entities_df = get_named_entities(doc_ai_forecast1)
named_entities_df

Named Entities for ai_forecast1.txt:

                        Entity        Label
0                  Pune, India          GPE
1               Sept. 13, 2022         DATE
2               GLOBE NEWSWIRE          ORG
3                           AI          ORG
4           USD 387.45 billion        MONEY
..                         ...          ...
162  the Microsoft News Center          ORG
163                  Microsoft          ORG
164                     Nuance  WORK_OF_ART
165      Nuance Communications          ORG
166          the United States          GPE

[167 rows x 2 columns]

In [31]:
# Explain POS and dependency tags
print("\nExplanation of POS and Dependency Tags for ai_forecast1.txt:")
tags_explanation_df = explain_tags(doc_ai_forecast1)
tags_explanation_df

Explanation of POS and Dependency Tags for ai_forecast1.txt:

,Token,POS,POS Explanation,Dependency,Dependency Explanation
0,Pune,PROPN,proper noun,ROOT,root
1,",",PUNCT,punctuation,punct,punctuation
2,India,PROPN,proper noun,appos,appositional modifier
3,",",PUNCT,punctuation,punct,punctuation
4,Sept.,PROPN,proper noun,npadvmod,noun phrase as adverbial modifier
...,...,...,...,...,...
1552,countries,NOUN,noun,conj,conjunct
1553,.,PUNCT,punctuation,punct,punctuation
1554,All,DET,determiner,det,determiner
1555,other,ADJ,adjective,amod,adjectival modifier
1556,trademarks,NOUN,noun,ROOT,root

In [32]:
# Define individual patterns
pattern_ai = {"ArtificialIntelligence": [{"LOWER": "artificial"}, {"LOWER": "intelligence"}]}
pattern_ai_verb = {"AIVerb": [{"LOWER": "ai"}, {"POS": "VERB"}]}
pattern_number_percent = {"NumberPercent": [{"LIKE_NUM": True}, {"TEXT": "%"}]}
pattern_company_name = {"CompanyName": [{"POS": "PROPN"}]}

In [33]:
matches_ai = find_matches(doc_ai_forecast1, pattern_ai)
matches_ai

                     Match  Start  End
0  Artificial Intelligence     80   82
1  artificial intelligence    111  113

In [34]:
matches_ai_verb = find_matches(doc_ai_forecast1, pattern_ai_verb)
matches_ai_verb

Empty DataFrame
Columns: []
Index: []

In [35]:
matches_number_percent = find_matches(doc_ai_forecast1, pattern_number_percent)
matches_number_percent

   Match  Start  End
0  20.1%     38   40
1    23%    286  288
2    55%    544  546
3    75%    549  551
4    77%    560  562
5    37%    572  574

In [36]:
matches_company_name = find_matches(doc_ai_forecast1, pattern_company_name)
matches_company_name

              Match  Start   End
0              Pune      0     1
1             India      2     3
2             Sept.      4     5
3             GLOBE      9    10
4          NEWSWIRE     10    11
..              ...    ...   ...
215          Nuance   1539  1540
216  Communications   1540  1541
217            Inc.   1542  1543
218          United   1548  1549
219          States   1549  1550

[220 rows x 3 columns]